
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small devices */
html {
  font-size: 112.5%; 
}

  #admin-menu {
    display: none;
  }

  .contextual-links-region {
    position: static;
  }

  #primary-menu-bar {
    width: auto;
    clear: none;
    margin-top: 5px;
    position: absolute;
    z-index: 300;
    background-color: #FC3902;
    right:10px;
    top: 0;
    ul {
	    clear: both;
    }
    ul li a {
	    float: right;
	    padding-bottom: 5px;
	    padding-right: 0;
	    width: 100%;
	    text-align: right;
    }
  }
  li.menu-1611 a, li.menu-1612 a {
	  width: 20px!important;
	  float: right!important;
	  text-align: right!important;
  }
     a.at-menu-toggle-button-link {
	    color: white;
	    float:right;
	    right: 0;
	    width: 100%;
	    text-align: right;
		padding: 3px;
		    }

  .logged-in #branding {
    margin-top: -40px;
  }

.view-productions .view-content {
	.views-row {
		width: 100%;
		text-align: left;
		}
	
}
